@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  color: #333;
}

@layer components {
  .form-input {
    @apply border-[1px] rounded-3xl px-4 py-1 w-full py-3;
  }

  .nowrap {
    text-wrap: nowrap;
  }

  .hinge {
    animation: hinge 10s ease 0s infinite;
  }

  @keyframes hinge {
    0% {
      opacity: 0;
      animation-timing-function: ease-in-out;
    }
    10%,
    80% {
      transform: rotate(0);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
    85%,
    95% {
      transform: rotate(80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    90% {
      transform: rotate(60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translateY(700px);
      opacity: 0.8;
    }
  }

  .gelatine {
    animation: gelatine 0.5s infinite;
  }
  @keyframes gelatine {
    from,
    to {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
}
