@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

@layer components {
  .form-input {
    @apply border-[1px] rounded-3xl px-4 py-1 w-full py-3;
  }

  .card:hover {
    transition: all 0.5s ease-in-out !important;
    background-color: #333 !important;
    scale: 1.05;
  }

  .card:hover * {
    transition: all 0.5s ease-in-out !important;
    color: white !important;
    border-color: white !important;
    fill: white !important;
  }

  .card:hover .edit-icon #pen {
    transition: all 0.5s ease-in-out !important;

    display: none !important;
  }

  .card:hover .edit-icon #pen-white {
    display: block !important;
    transition: all 0.5s ease-in-out !important;
  }

  .nowrap {
    text-wrap: nowrap;
  }

  .hinge {
    animation: hinge 10s ease 0s infinite;
  }

  @keyframes hinge {
    0% {
      opacity: 0;
      animation-timing-function: ease-in-out;
    }
    10%,
    80% {
      transform: rotate(0);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
      opacity: 1;
    }
    85%,
    95% {
      transform: rotate(80deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    90% {
      transform: rotate(60deg);
      transform-origin: top left;
      animation-timing-function: ease-in-out;
    }
    100% {
      transform: translateY(700px);
      opacity: 0.8;
    }
  }
}
